<%= form_for @ingredient do |f| %>

<% if @ingredient.errors.any? %>
  <div id="error_explanation">
    <p><%= pluralize(@ingredient.errors.count, "error") %> prohibited this article from being saved:</p>

    <ul>
    <% @ingredient.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.submit %>
<% end %>
